forms:
	messages:
		EQUAL: 'Prosím vyplňte %s.'
		NOT_EQUAL: 'Tato pole nemůže být být %s.'
		FILLED: 'Toto pole je povinné.'
		BLANK: 'Toto pole nemůže být vyplněno.'
		MIN_LENGTH: 'Prosím vyplňte nejméně %d znaků.'
		MAX_LENGTH: 'Prosím vyplňte maximálně %d znaků.'
		LENGTH: 'Zadaná hodnota musí být dlouhé minimálně %d a maximálně %d znaků.'
		EMAIL: 'Zadaná e-mailová adresa nemá správný tvar.'
		URL: 'Zadané URL má nesprávný tvar.'
		INTEGER: 'Zadaná hodnota má nesprávný tvar celého čísla.'
		FLOAT: 'Zadaná hodnota má nesprávný tvar čísla.'
		MIN: 'Zadaná hodnota musí být minimálně %d.'
		MAX: 'Zadaná hodnota musí být maximálně %d.'
		RANGE: 'Zadaná hodnota musí být mezi %d a %d.'
		MAX_FILE_SIZE: 'Velikost nahravaného souboru může být maximálně %d bajtů.'
		MAX_POST_SIZE: 'Velikost odesílaných dat překročilo limit %d bajtů.'
		MIME_TYPE: 'Nahrávaný soubor nemá očekávaný formát.'
		IMAGE: 'Nahrávaný soubor musí být obrázek ve formátu JPEG, GIF nebo PNG.'
		Nette\Forms\Controls\SelectBox::VALID: 'Vyberte prosím platnou možnost.'
		Nette\Forms\Controls\UploadControl::VALID: 'Při nahrávání souboru došlo k chybě.'
		Nette\Forms\Controls\CsrfProtection::PROTECTION: 'Vaše relace vypršela. Vraťte se na domovskou stránku a zkuste to znovu.'
