no_item_found_reset: "Žádné položky nenalezeny. Filtr můžete vynulovat"
no_item_found: "Žádné položky nenalezeny"
here: "zde"
items: "Položky"
all: "všechny"
from: "z"
reset_filter: "Resetovat filtr"
group_actions: "Hromadné akce"
show_all_columns: "Zobrazit všechny sloupce"
hide_column: "Skrýt sloupec"
action: "Akce"
previous: "Předchozí"
next: "Další"
choose: "Vyberte"
execute: "Provést"
add: "Přidat"
edit: "Upravit"
delete: "Smazat"
cancel: "Storno"
save: "Uložit"
status: "Stav"
active: "aktivní"
inactive: "neaktivní"
yes: "ano"
no: "ne"
per_page_submit: "Použít"
confirm_deleting: "Opravdu smazat řádek s názvem '%s'?"
show_default_columns: "Zobrazit výchozí sloupce"
show_details: "Podrobnosti"
multiselect_choose: "Vyberte"
multiselect_selected: "{0} položek|{1}položka|[2,4] položky|[5,Inf] položek"
