<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Obnovení hesla na serveru {$url}</title>
</head>
<body>
<p>Odkaz na obnovení hesla
    <a n:href="Auth:Sign:recoveryPassword $username,$recoveryToken">
        {link Auth:Sign:recoveryPassword $username,$recoveryToken}
    </a>
</p>
</body>
</html>
