{block content}
<!-- Breadcrumb-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">Home</li>
    <li n:block=title class="breadcrumb-item active"><a n:href=":System:Default:">O PP IS</a></li>
</ol>
<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                Verze: {$version}
            </div>
        </div>
        <!-- /.row-->
    </div>
</div>
